@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}
.contain {
            width: 100vw;
            display: flex;
            justify-content: center;
        }
.back {
    width: 100vw;
    text-align: center;
    padding: 4px 0px;
}

.back a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}